<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>

    
</head>



<nav style="background-color: #333; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center;">
        <div>
            <p style="color:white;">BookStore</p>
        </div>
        <div style="width: 200px;">
            <a href="{% url 'login' %}" style="color: #fff; text-decoration: none; margin-right : 20px">Login</a>
            <a href="{% url 'signup' %}" style="color: #fff; text-decoration: none;">Sign Up</a>
        </div>
    </nav>



<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 20px;">

    <h1 style="color: #333; text-align: center;">All Books</h1>

    <ul style="list-style: none; padding: 0; max-width: 600px; margin: auto;">
        {% for book in books %}
            <li style="background-color: #fff; margin-bottom: 10px; padding: 15px; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);">
                
                    <a href="{% url 'update_f' book.id %}" style="text-decoration: none; color: #0077cc; font-weight: bold;" >
                                    {{ forloop.counter }}. {{ book.title }}
                                </a>
                
                {% comment %} <p style="margin: 5px 0 0; color: #555;">by {{ book.author }} ({{ book.published_date }})</p> {% endcomment %}
            </li>
        {% empty %}
            <li style="text-align: center; color: #777;">No books available.</li>
        {% endfor %}
    </ul>

</body>
</html>
